<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="resume">
  
  	<sql id="pagingHeader">
	SELECT * FROM (
	SELECT ROWNUM AS rn, A.* FROM (
	</sql>
	
	<sql id="pagingFooter">
	)  A
	) WHERE rn BETWEEN #{start} AND #{end}
	</sql>
	
	<!-- 이력 등록 (이력 테이블) -->
	<insert id="resumeInsert" parameterType="Resume">
		INSERT INTO RESUME(
		R_ID,
		U_ID,
		D_ID,
		R_STATUS,
		R_NEWDATE
		)
		VALUES(
		RESUME_SEQ.NEXTVAL,
		#{u_id},
		#{d_id},
		DEFAULT,
		SYSDATE
		)
	</insert>
	
    <!-- 이력 등록 (학력 테이블) -->
	<insert id="academicInsert" parameterType="Resume">
		INSERT INTO ACADEMIC(
		R_ID,
		U_ID,
		D_ID,
		A_HSCHOLL,
		A_UNIVERSITY,
		A_GSCHOOL,
		A_HSCHOOLDATE,
		A_UNIVERSITYDATE,
		A_GSCHOOLDATE
		)
		VALUES(
		RESUME_SEQ.NEXTVAL,
		#{r_id},
		#{u_id},
		#{d_id},
		#{a_hschool},
		#{a_university},
		#{a_gschool},
		#{a_hschooldate},
		#{a_universitydate},
		#{a_gschooldate}
		)
	</insert>
	
	<!-- 이력 등록 (자격증 테이블) -->
	<insert id="certificateInsert" parameterType="Resume">
		INSERT INTO CERTIFICATE(
		R_ID,
		U_ID,
		D_ID,
		CE_CODE,
		CE_TEXT
		)
		VALUES(
		RESUME_SEQ.NEXTVAL,
		#{r_id},
		#{u_id},
		#{d_id},
		#{ce_code},
		#{ce_text}
		)
	</insert>
	
	<!-- 이력 등록 (경력 테이블) -->
	<insert id="careerInsert" parameterType="Resume">
		INSERT INTO CAREER(
		R_ID,
		U_ID,
		D_ID,
		C_NAME,
		C_START,
		C_END,
		C_POSITION,
		C_TASK
		)
		VALUES(
		RESUME_SEQ.NEXTVAL,
		#{r_id},
		#{u_id},
		#{d_id},
		#{c_name},
		#{c_start},
		#{c_end},
		#{c_position},
		#{c_task}
		)
	</insert>
	
	<!-- 이력 등록 (교육 테이블) -->
	<insert id="educationInsert" parameterType="Resume">
		INSERT INTO EDUCATION(
		R_ID,
		U_ID,
		D_ID,
		E_PLACE,
		E_E_STARTED,
		E_END,
		E_NAME
		)
		VALUES(
		RESUME_SEQ.NEXTVAL,
		#{r_id},
		#{u_id},
		#{d_id},
		#{e_place},
		#{e_started},
		#{e_end},
		#{e_name}
		)
	</insert>
	
	<!-- 이력 등록 (특수기술 테이블) -->
	<insert id="specialTechInsert" parameterType="Resume">
		INSERT INTO SPECIAL_TECH(
		R_ID,
		U_ID,
		D_ID,
		ST_AP,
		ST_LEVEL
		)
		VALUES(
		RESUME_SEQ.NEXTVAL,
		#{r_id},
		#{u_id},
		#{d_id},
		#{st_ap},
		#{st_level}
		)
	</insert>
	
	<!-- 이력 등록 (스킬인벤토리 테이블) -->
	<insert id="skillInventoryInsert" parameterType="Resume">
		INSERT INTO SKILL_INVENTORY(
		R_ID,
		U_ID,
		D_ID,
		SI_NAME,
		SI_START,
		SI_END,
		SI_CUSTOMER,
		SI_COMPANY,
		SI_ROLE,
		SI_MODEL,
		SI_OS,
		SI_LANGUAGE,
		SI_TOOL,
		SI_ETC
		)
		VALUES(
		RESUME_SEQ.NEXTVAL,
		#{r_id},
		#{u_id},
		#{d_id},
		#{si_name},
		#{si_start},
		#{si_end},
		#{si_customer},
		#{si_company},
		#{si_role},
		#{si_model},
		#{si_os},
		#{si_language},
		#{si_dbms},
		#{si_tool},
		#{si_etc}
		)
	</insert>
	
	<!-- 이력 등록 (파일 테이블) -->
	<insert id="fileInsert" parameterType="Resume">
		INSERT INTO FILE(
		R_ID,
		U_ID,
		D_ID,
		F_ORI,
		F_SAVE,
		F_SIZE
		)
		VALUES(
		RESUME_SEQ.NEXTVAL,
		#{r_id},
		#{u_id},
		#{d_id},
		#{f_ori},
		#{f_save},
		#{f_size}
		)
	</insert>
	

	
    <!-- 이력 상세보기 (사용자 테이블) -->
	<select id="userInfoSelectOne" parameterType="int" resultType="Resume">
	SELECT U_ID, D_ID, U_EMAIL, U_PWD, U_NAME, U_POSITION, U_PHONE, U_STATUS
	FROM USER_INFO
	WHERE U_ID = #{u_id}
	</select>
	
	<!-- 이력 상세보기 (이력 테이블) -->
	<select id="resumeSelectOne" parameterType="int" resultType="Resume">
	SELECT R_ID, U_ID, D_ID, R_STATUS, R_NEWDATE
	FROM RESUME
	WHERE U_ID = #{u_id}
	</select>

	<!-- 이력 상세보기 (학력 테이블) -->
	<select id="academicSelectOne" parameterType="int" resultType="Resume">
	SELECT R_ID, U_ID, D_ID, A_HSCHOOL, A_UNIVERSITY, A_GSCHOOL, A_HSCHOOLDATE, A_UNIVERSITYDATE, A_GSCHOOLDATE
	FROM ACADEMIC
	WHERE U_ID = #{u_id}
	</select>

	<!-- 이력 상세보기 (자격 테이블) -->
	<select id="certificateSelectOne" parameterType="int" resultType="Resume">
	SELECT R_ID, U_ID, D_ID, CE_CODE, CE_TEXT
	FROM CERTIFICATE
	WHERE U_ID = #{u_id}
	</select>
	
	<!-- 이력 상세보기 (경력 테이블) -->
	<select id="careerSelectOne" parameterType="int" resultType="Resume">
	SELECT R_ID, U_ID, D_ID, C_NAME, C_START, C_END, C_POSITION, C_TASK
	FROM CAREER
	WHERE U_ID = #{u_id}
	</select>
	
	<!-- 이력 상세보기 (교육 테이블) -->
	<select id="educationSelectOne" parameterType="int" resultType="Resume">
	SELECT R_ID, U_ID, D_ID, E_PLACE, E_STARTED, E_END, E_NAME
	FROM EDUCATION
	WHERE U_ID = #{u_id}
	</select>
	
	<!-- 이력 상세보기 (특수기술 테이블) -->
	<select id="specialTechSelectOne" parameterType="int" resultType="Resume">
	SELECT R_ID, U_ID, D_ID, ST_AP, ST_LEVEL
	FROM SPECIAL_TECH
	WHERE U_ID = #{u_id}
	</select>
	
	<!-- 이력 상세보기 (스킬인벤토리 테이블) -->
	<select id="skillInventorySelectOne" parameterType="int" resultType="Resume">
	SELECT R_ID, U_ID, D_ID, SI_NAME, SI_START, SI_END, SI_CUSTOMER, SI_COMPANY, SI_ROLE, SI_MODEL, SI_OS, SI_LANGUAGE, SI_TOOL, SI_ETC
	FROM SKILL_INVENTORY
	WHERE U_ID = #{u_id}
	</select>
	
	<!-- ///// 테이블 수정 ///// -->
	
    <!-- 이력 수정 (이력 테이블) -->
    <!-- ACADEMIC / CERTIFICATE / CAREER / EDUCATION / SPECIAL_TECH / SKILL_INVENTORY -->
	<update id="resumeUpdate" parameterType="Resume">
	UPDATE RESUME
	SET R_STATUS = #{r_id},
	R_NEWDATE = #{r_newdate}
	WHERE R_ID = #{r_id}
	</update>
	
    <!-- 이력 수정 (학력 테이블) -->
    <!-- ACADEMIC / CERTIFICATE / CAREER / EDUCATION / SPECIAL_TECH / SKILL_INVENTORY -->
	<update id="academicUpdate" parameterType="Resume">
	UPDATE ACADEMIC
	SET A_HSCHOOL = #{a_hschool},
	A_UNICERSITY = #{a_university},
	A_GSCHOOL = #{a_gschool},
	A_HSCHOOLDATE = #{a_hschooldate},
	A_GSCHOOLDATE = #{a_universitydate},
	A_GSCHOOLDATE = #{a_gschooldate}
	WHERE R_ID = #{r_id}
	</update>
	
	<!-- 이력 수정 (학력 테이블) -->
    <!-- ACADEMIC / CERTIFICATE / CAREER / EDUCATION / SPECIAL_TECH / SKILL_INVENTORY -->
	<update id="certificateUpdate" parameterType="Resume">
	UPDATE CERTIFICATE
	SET CE_CODE = #{ce_code},
	CE_TEXT = #{ce_text}
	WHERE R_ID = #{r_id}
	</update>
	
	<!-- 이력 수정 (경력 테이블) -->
    <!-- ACADEMIC / CERTIFICATE / CAREER / EDUCATION / SPECIAL_TECH / SKILL_INVENTORY -->
	<update id="careerUpdate" parameterType="Resume">
	UPDATE CAREER
	SET C_NAME = #{c_name},
	C_START = #{c_start},
	C_END = #{c_end},
	C_POSITION = #{c_position},
	C_TASK = #{c_task}
	WHERE R_ID = #{r_id}
	</update>
	
	<!-- 이력 수정 (교육 테이블) -->
    <!-- ACADEMIC / CERTIFICATE / CAREER / EDUCATION / SPECIAL_TECH / SKILL_INVENTORY -->
	<update id="educationUpdate" parameterType="Resume">
	UPDATE EDUCATION
	SET E_PLACE = #{e_place},
	E_STARTED = #{e_started},
	E_END = #{e_end},
	E_NAME = #{e_name}
	WHERE R_ID = #{r_id}
	</update>

	<!-- 이력 수정 (특수기술 테이블) -->
    <!-- ACADEMIC / CERTIFICATE / CAREER / EDUCATION / SPECIAL_TECH / SKILL_INVENTORY -->
	<update id="specialTechUpdate" parameterType="Resume">
	UPDATE SPECIAL_TECH
	SET ST_AP = #{st_ap},
	ST_LEVEL = #{st_level}
	WHERE R_ID = #{r_id}
	</update>
	
	<!-- 이력 수정 (스킬인벤토리 테이블) -->
    <!-- ACADEMIC / CERTIFICATE / CAREER / EDUCATION / SPECIAL_TECH / SKILL_INVENTORY -->
	<update id="skillInventoryUpdate" parameterType="Resume">
	UPDATE SKILL_INVENTORY
	SET SI_NAME = #{si_name},
	SI_START = #{si_start},
	SI_END = #{si_end},
	SI_CUSTOMER = #{si_customer},
	SI_COMPANY = #{si_company},
	SI_ROLE = #{si_role},
	SI_MODEL = #{si_model},
	SI_OS = #{si_os},
	SI_LANGUAGE = #{si_language},
	SI_DBMS = #{si_dbms},
	SI_TOOL = #{si_tool},
	ST_ETC = #{si_etc}
	WHERE R_ID = #{r_id}
	</update>
	
	<!-- 이력 수정 (파일 테이블) -->
    <!-- ACADEMIC / CERTIFICATE / CAREER / EDUCATION / SPECIAL_TECH / SKILL_INVENTORY -->
	<update id="fileUpdate" parameterType="Resume">
	UPDATE FILE
	SET F_ORI = #{f_ori},
	F_SAVE = #{f_save},
	F_SIZE = #{f_size}
	WHERE R_ID = #{r_id}
	</update>
	
	<select id="resumeInfomation" resultType="Resume">
	SELECT *
	FROM RESUME
	</select>
	
	
	<!-- 이력 삭제 (이력 테이블) -->
	<!-- ACADEMIC / CERTIFICATE / CAREER / EDUCATION / SPECIAL_TECH / SKILL_INVENTORY / FILE -->

	<!-- 
	ACADEMIC
	CERTIFICATE
	CAREER
	EDUCATION
	SPECIAL_TECH
	SKILL_INVENTORY
	FILE
	 -->
<!-- 	 
	<resultMap type="DEPARTMENT" id="DEPARTMENT">
	<result column="d_id" property="d_id"/>
	<result column="d_name" property="d_name"/>
	</resultMap>
	 
	<resultMap type="USER_INFO" id="USER_INFO">
	<result column="u_id" property="u_id"/>
	<result column="u_pwd" property="u_pwd"/>
	<result column="u_name" property="u_name"/>
	<result column="u_rnumber" property="u_rnumber"/>
	<result column="u_company" property="u_company"/>
	<result column="u_marry" property="u_marry"/>
	<result column="u_position" property="u_position"/>
	<result column="u_ms" property="u_ms"/>
	<result column="u_career" property="u_career"/>
	<result column="u_tgrade" property="u_tgrade"/>
	<result column="u_phone" property="u_phone"/>
	<result column="u_email" property="u_email"/>
	<result column="u_address" property="u_address"/>
	<result column="u_status" property="u_status"/>
	</resultMap>
	
	
	<resultMap type="RESUME" id="RESUME">
	<result column="r_id" property="r_id"/>
	<result column="r_status" property="r_status"/>
	<result column="r_newdate" property="r_newdate"/>
	</resultMap>
	
	<resultMap type="ACADEMIC" id="ACADEMIC">
	<result column="a_hschool" property="a_hschool"/>
	<result column="a_university" property="a_university"/>
	<result column="a_gschool" property="a_gschool"/>
	<result column="a_hschooldate" property="a_hschooldate"/>
	<result column="a_universitydate" property="a_universitydate"/>
	<result column="a_gschooldate" property="a_gschooldate"/>
	</resultMap>
	
	<resultMap type="CERTIFICATE" id="CERTIFICATE">
	<result column="ce_code" property="ce_code"/>
	<result column="ce_text" property="ce_text"/>
	</resultMap>
	
	<resultMap type="CAREER" id="CAREER">
	<result column="c_name" property="c_name"/>
	<result column="c_start" property="c_start"/>
	<result column="c_end" property="c_end"/>
	<result column="c_position" property="c_position"/>
	<result column="c_task" property="c_task"/>
	</resultMap>
	
	<resultMap type="EDUCATION" id="EDUCATION">
	<result column="e_place" property="e_place"/>
	<result column="e_started" property="e_started"/>
    <result column="e_end" property="e_end"/>
    <result column="e_name" property="e_name"/>
	</resultMap>
	
	<resultMap type="SPECIAL_TECH" id="SPECIAL_TECH">
	<result column="st_ap" property="st_ap"/>
	<result column="st_level" property="st_level"/>
	</resultMap>
	
	<resultMap type="SKILL_INVENTORY" id="SKILL_INVENTORY">
	<result column="si_name" property="si_name"/>
	<result column="si_start" property="si_start"/>
	<result column="si_end" property="si_end"/>
	<result column="si_customer" property="si_customer"/>
	<result column="si_company" property="si_company"/>
	<result column="si_role" property="si_role"/>
	<result column="si_model" property="si_model"/>
	<result column="si_os" property="si_os"/>
	<result column="si_language" property="si_language"/>
	<result column="si_dbms" property="si_dbms"/>
	<result column="si_tool" property="si_tool"/>
	<result column="si_etc" property="si_etc"/>
	</resultMap>

	
    이력 상세보기
	<select id="resumeSelectOne" parameterType="int" resultType="Resume">
	SELECT
	u.u_id,u.u_rnumber, u.u_company, u.u_marry, u.u_position, u.u_ms, u.u_career, u.u_tgrade, u.u_phone, u.u_email, u.u_address, u.u_status,
	
	
	       
	FROM USER_INFO U
	JOIN ACADEMIC A
	ON 
	WHERE U_ID = #{u_id}
	
	</select> -->
  
  </mapper>